/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
    background-color: #dbc207;
    cursor: url(/images/pointer-chouette.png), pointer;
}

.hamburger {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h3 {
    margin-top: 20px;
    color: #131311;
    font-family: 'Karla', sans-serif;

}

h1 {
    text-align: center;
    font-size: 7rem;
    color: #131311;
    margin-bottom: 40px;
    font-family: 'Josefin sans', sans-serif;
}

.mobile_h1 {
    display: none;
}

.pic {
    width: 10%;
    margin-top: -25px;
}

@keyframes rotateAnim {
    from {transform: rotateY(0);}
    to {transform: rotateY(360deg);}
}
.owl {
    animation: rotateAnim 5s linear infinite;
}


@media screen and (min-width: 300px) and (max-width:680px) {
    
    .logo {
        width: 75px;
        height: 75px;
        margin-top: 12px;
        left:12px;
    }

    #logo {
        width: 100%;
    }
    
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav {
        height: 99px;
    }

    h1 {
        display: none;
    }

    .mobile_h1 {
        display: block;
        font-size: 5rem;
    }

    .pic_mobile {
        width: 20%;
    }
}

@media screen and (min-width: 681px) and (max-width:960px) {
    
    .logo {
        width: 75px;
        height: 75px;
        margin-top: 12px;
        left:12px;
    }

    #logo {
        width: 100%;
    }
    
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav {
        height: 99px;
    }

    h1 {
        font-size: 6rem;
    }
}

@media screen and (min-width: 961px) and (max-width:1331px) {
    .logo {
        width: 75px;
        height: 75px;
        margin-top: 12px;
        left:12px;
    }

    #logo {
        width: 100%;
    }
    
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav {
        height: 99px;
    }
}