/*Section FOOTER newsletter */

.footer {
    width: 100%;
    height: 304px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FEFBE1;
}

.inscription {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.newsletter {
    width: 710px;
    margin-right: 104px;
}

.titre, .titre2 {
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 140%;
    margin-top: 68px;
    margin-bottom: 16px;
    text-align:center;
}

.texte, .texte2 {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    line-height: 140%;
    width: 100%;
}

label {
    font-family: 'karla', sans-serif;
    font-size: 20px;
}

input {
    width: 378px;
    height: 60px;
    border-radius: 10px;
    border: #c8c8c1 solid 1px;
}

input::placeholder {
    font-family: 'Karla',sans-serif;
    line-height: 140%;
    font-size: 20px;
    color: #97978b;
    text-indent: 0;
}

.input[name="email"] {
    font-family: 'Karla',sans-serif;
    line-height: 140%;
    font-size: 20px;
    color: #131311;
}

.button {
    width: 378px;
    height: 60px;
    border-radius: 10px;
    background-color: #f8e21c;
    color: #131311;
    font-family: 'karla',sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    margin-top: 32px;
    border: none;
    align-items: center;
}

.error {
    display: none;
    color:red;
    font-family: 'Karla', sans-serif;
    line-height: 150%;
    font-size: 16px;
    font-weight: normal;
    width: 384px;
}

.crossErrorWrapper2 {
    position:relative;
    left:350px;
    bottom: 40px;
    display:none;
}

.crossError2 {
    position:absolute;
}

/* section FOOTER deuxième partie */

footer {
    width: 100%;
    padding-top: 120px;
}

.logo-contact-photo {
    display: flex;
    justify-content: center;
}

.logo-footer {
    width: 144px;
    height: 144px;
}

.logo-contact-icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:355px;
    margin-right:148px;
    margin-top: -80px;
}

.logolili {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 365px;
    margin-bottom: 47px;
}

.contact {
    font-family: 'karla',sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

address {
    display: flex;
    flex-direction: column;
}

.insta {
    margin-right: 32px;
}

.wrapper-horaires {
    width: 348px;
    height: 56px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.photo-texte {
    width: 600px;
    height: 400px;
}

.horaires {
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-size: 24px;
    color:#131311;
    text-align: center;
}

.mobile_horaires {
    display: none;
}

.detail_wrapper {
    text-align: center;
}

.detail {
    display:inline-block;
    margin-bottom:24px;
}

.address {
    text-decoration: underline;
}

.partagez-wrapper {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icones_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.review-widget_net {
    margin-right: 16px;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15);
}

.logo {
    left: 0;
}

.partagez {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
}

.last_section {
    margin: 0;
    padding: 0;
}

.mentions {
    margin-top: 120px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}


/*pulsing heart*/

.heart {
    color: #5f9249;
    animation: pulse 1s linear infinite;
    height: 15px;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.liens {
    color: #131311;
    font-weight: bold;
    text-decoration: none;
}

.lien {
    color:#131311;
    text-decoration: none;
}

.lien:hover {
    color: #131311;
}
/*PARTIE MOBILE*/
/*MEDIA QUERIES */

@media screen and (min-width:300px) and (max-width:680px) {
    
    /*Section newsletter*/

    .footer {
        flex-direction: column;
        justify-content: center;
        height: 444px;
        padding-bottom: 48px;
    }

    .titre, .titre2 {
        font-size: 24px;
        line-height: 140%;
        width: 327px;
        margin-top: 0;
        margin-left: 16px;
        font-weight: bold;
    }

    .newsletter {
        width: 100%;
        padding-top: 48px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .texte, .texte2 {
        font-size: 18px;
        line-height: 140%;
        font-weight: normal;
        width: 327px;
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 36px;
    }

    .inscription {
        margin-left: 16px;
        margin-right: 16px;
        width: 327px;
    }

    label {
        font-size: 16px;
        line-height: 140%;
    }

    .input, .button {
        width: 327px;
    }

    /*Section Contact */

    .photo-texte {
        display: none;
    }

    .logo-contact-icones {
        width: 375px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .wrapper-horaires {
        display: none;
    }

    .logolili {
        margin-bottom: 0;
    }

    .mobile_horaires {
        display: inline;
        font-family: 'Karla', sans-serif;
        font-style: italic;
        font-size: 16px;
        line-height: 140%;
        margin-top: 24px;
        margin-bottom: 48px;
        text-align: center;
    }

    .contact {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .detail {
        margin-bottom: 16px;
    }

    .social_wrapper {
        margin-top: 24px;
    }

    .partagez-wrapper {
        margin-top: 88px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partagez {
        margin-left: 16px;
    }

    .icones_wrapper {
        display: flex;
        margin-top: 32px;
        flex-direction: column;
    }

    .review-widget_net {
        margin-bottom: 32px;
    }


    .mentions {
        font-size: 12px;
        line-height: 150%;
    }

    /* Partie cachée */
    .error {
        width:327px;
    }
}

@media screen and (min-width:681px) and (max-width:960px) {

    /*Section newsletter*/

    .footer {
        flex-direction: column;
        justify-content: center;
        height: 444px;
        padding-bottom: 48px;
    }

    .titre, .titre2 {
        font-size: 24px;
        line-height: 140%;
        width: 327px;
        margin-top: 0;
        margin-left: 16px;
        font-weight: bold;
    }

    .newsletter {
        width: 100%;
        padding-top: 48px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .texte, .texte2 {
        font-size: 18px;
        line-height: 140%;
        font-weight: normal;
        width: 327px;
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 36px;
    }

    .inscription {
        margin-left: 16px;
        margin-right: 16px;
        width: 327px;
    }

    label {
        font-size: 16px;
        line-height: 140%;
    }

    .input, .button {
        width: 327px;
    }

    /*Section Contact */

    .photo-texte {
        display: none;
    }

    .logo-contact-icones {
        width: 375px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .wrapper-horaires {
        display: none;
    }

    .logolili {
        margin-bottom: 0;
    }

    .mobile_horaires {
        display: inline;
        font-family: 'Karla', sans-serif;
        font-style: italic;
        font-size: 16px;
        line-height: 140%;
        margin-top: 24px;
        margin-bottom: 48px;
        text-align: center;
    }

    .contact {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .detail {
        margin-bottom: 16px;
    }

    .social_wrapper {
        margin-top: 24px;
    }

    .partagez-wrapper {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        margin-left: 16px;
        width: 100%;
        align-content: center;
        margin-top: 80px;
    }

    .partagez {
        margin-left: 16px;
    }

    .icones_wrapper {
        display: flex;
        margin-top: 16px;
        width: 375px;
        justify-content: center;
    }


    .mentions {
        font-size: 13px;
        line-height: 150%;
    }

    /* Partie cachée */
    .error {
        width:327px;
    }
}

@media screen and (min-width: 961px) and (max-width:1331px) {

    /*Section newsletter*/

    .footer {
        flex-direction: column;
        justify-content: center;
        height: 444px;
        padding-bottom: 48px;
    }

    .titre, .titre2 {
        font-size: 32px;
        line-height: 140%;
        margin-top: 0;
        margin-left: 16px;
        font-weight: bold;
    }

    .newsletter {
        width: 100%;
        padding-top: 48px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .texte, .texte2 {
        font-size: 20px;
        line-height: 140%;
        font-weight: normal;
        width: 600px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 36px;
    }

    .inscription {
        margin-left: 16px;
        margin-right: 16px;
        width: 327px;
    }

    label {
        font-size: 20px;
        line-height:40%;
        margin-bottom: 8px;
    }

    .input, .button {
        width: 327px;
    }

    /*Section Contact */

    .photo-texte {
        display: none;
    }

    .logo-contact-icones {
        width: 375px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .wrapper-horaires {
        display: none;
    }

    .logolili {
        margin-bottom: 0;
    }

    .mobile_horaires {
        display: inline;
        font-family: 'Karla', sans-serif;
        font-style: italic;
        font-size: 16px;
        line-height: 140%;
        margin-top: 24px;
        margin-bottom: 48px;
        text-align: center;
    }

    .contact {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .detail {
        margin-bottom: 16px;
    }

    .social_wrapper {
        margin-top: 24px;
    }

    .partagez-wrapper {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        margin-left: 16px;
        width: 100%;
        align-content: center;
        margin-top: 80px;
    }

    .partagez {
        margin-left: 16px;
    }

    .icones_wrapper {
        display: flex;
        margin-top: 16px;
        width: 375px;
        justify-content: center;
    }

    .mentions {
        font-size: 13px;
        line-height: 150%;
    }
}
