/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.hamburger {
    display: none;
}

a {
    color: #131311;
}

.formations {
    width: 100%;
    position: relative;
}

.inner_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ellipse {
    height: 800px;
    position: absolute;
    left: 0;
    top: -150px;
}

.ellipse_mobile {
    display: none;
}

.top_titre {
    display: flex;
    flex-direction: column;
    width: 810px;
    margin-top: 268px;
    position: relative;
}

h2 {
    font-size: 56px;
    line-height: 120%;
    font-weight: 600;
    font-family: 'Josefin sans', sans-serif;
}

.fleur {
    position: absolute;
    width: 116px;
    height: 280px;
    right: 350px;
    top: 228px;
}

.sous-titre {
    margin-top: 32px;
    text-align: center;
}

h5 {
    font-size: 32px;
    line-height: 130%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 500;
}

.texte_formations {
    width: 816px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 24px;
    line-height: 140%;
    font-weight: normal;
    margin-bottom: 120px;
    font-family: 'Karla', sans-serif;
}

.programmes {
    display: flex;
    justify-content: center;
}

.lien_image {
    width: 526px;
    height: 479px;
    margin-top: 80px;
    margin-bottom: 120px;
}

.lien_image1 {
    margin-right: 80px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu_mobile {
    display: none;
}

.ateliers {
    background-image: url(/images/formations/formations_bkgd_atelier.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fleur_section {
    width: 100px;
    height: 240px;
    margin-top: 80px;
}

.title_section {
    color: #131311;
    font-size: 48px;
    line-height: 120%;
    font-family: "Josefin sans", sans-serif;
    font-weight: 600;
    margin-top: 120px;
    margin-left: 88px;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
}

.text_header {
    width: 820px;
    margin-left: 68px;
    line-height: 140%;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    color: #131311;
    text-align: left;
    margin-top: 24px;
}

.ateliers_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ateliers_titre {
    font-size: 40px;
    line-height: 120%;
    color: #A89505;
    font-family: "Josefin sans", sans-serif;
    margin-top: 104px;
    font-weight: 600;
    margin-bottom: 24px;
}

.ateliers_texte {
    color: #131311;
    text-align: left;
    font-size: 20px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    width: 800px;
    margin-bottom: 104px;
}

.ateliers_titre2 {
    font-size: 40px;
    line-height: 120%;
    color: #A89505;
    font-family: "Josefin sans", sans-serif;
    margin-top: 104px;
    font-weight: 600;
    margin-bottom: 24px;
    width: 600px;
}

.conclusion {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #131311;
    line-height: 140%;
    text-align: center;
    margin-bottom: 120px;
}

.gift {
    width: 234.19px;
    height: 260.16px;
    margin-top: 82px;
    margin-right: 31.77px;
}

.cadeau {
    display: flex;
    justify-content: center;
    margin-bottom: 121.68px;
}

.gift_text {
    display: flex;
    flex-direction: column;
}

.gift_title {
    margin-top: 121px;
    color: #131311;
    font-size: 40px;
    line-height: 120%;
    font-family: "Josefin sans", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.gift_text {
    width: 800px;
    color: #131311;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    line-height: 140%;
}

.initiation {
    background-image: url(/images/formations/formations_bkgd_initiationpro.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.initiation_wrapper {
    padding-top: 120px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.initiation_title {
    color: #131311;
    font-family: "Josefin sans", sans-serif;
    font-size: 48px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
    width: 800px;
    margin-bottom: 32px;
}

.fleur_initiation {
    width: 100px;
    height: 240px;
    margin-left: 68px;
    margin-top: 80px;
}

.initiation_texte {
    width: 800px;
    color: #131311;
    font-size: 24px;
    line-height: 140%;
    font-family: "Karla", sans-serif;
    text-align: left;
}

.formation {
    color: #5F9249;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    line-height: 140%;
    font-weight: 600;
    margin-top: 80px;
}

.details {
    color: #131311;
    font-size: 20px;
    line-height: 140%;
    font-family: "Karla", sans-serif;
    text-align: left;
    margin-bottom: 104px;
}

@media screen and (min-width:300px) and (max-width:680px) {
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .ellipse {
        display: none;
    }

    .ellipse_mobile {
        display: block;
        width: 260px;
        height: 260px;
        margin-top: 99px;
        margin-left: -220px;
    }

    .top_titre {
        display: flex;
        flex-direction: column;
        width: 275px;
        margin-top: 147px;
        position: relative;
    }
    
    h2 {
        font-size: 32px;
        line-height: 120%;
        font-weight: 600;
        font-family: 'Josefin sans', sans-serif;
    }

    .fleur {
        width: 40px;
        height: 96px;
        right: 16px;
        top: 115px;
    }

    .sous-titre {
        margin-top: 24px;
        text-align: left;
    }

    h5 {
        font-size: 18px;
        line-height: 130%;
        font-family: 'Josefin sans', sans-serif;
        font-weight: 600;
    }

    .texte_formations {
        width: 320px;
        margin-top: -24px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 16px;
        line-height: 140%;
        font-weight: normal;
        margin-bottom: 40px;
        font-family: 'Karla', sans-serif;
    }

    .menu {
        display: none;
    }

    .menu_mobile {
        display: block;
        margin-bottom: 60px;
    }

    .image_mobile {
        width: 300px;
        height: 278px;
        margin-top: 24px;
        margin-left: 35px;
        margin-bottom: 24px;
    }

    .ateliers {
        background-image: url(/images/formations_responsive/3rdbkpt_formations_bkgd_atelier.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .fleur_section {
        display: none;
    }

    .title_section {
        color: #131311;
        font-size: 28px;
        line-height: 120%;
        margin-top: 60px;
        margin-left: auto;
        width: 100%;
    }

    .header_wrapper {
        align-items: center;
        text-align: center;
        width: 253px;
    }

    .text_header {
        width: 327px;
        margin-left: 24px;
        line-height: 140%;
        font-size: 16px;
        margin-bottom: 48px;
    }

    .ateliers_titre {
        font-size: 24px;
        line-height: 120%;
        margin-top: auto;
        margin-bottom: 16px;
    }

    .ateliers_texte {
        font-size: 16px;
        line-height: 140%;
        width: 327px;
        margin-bottom: 40px;
    }

    .ateliers_titre2 {
        font-size: 24px;
        line-height: 120%;
        margin-top: 40px;
        margin-bottom: 16px;
        width: 345px;
    }

    .cadeau {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
        align-items: center;
    }

    .gift {
        width: 144.35px;
        height: 160.2px;
        margin-top: 2px;
        margin-right: auto;
        margin-left: auto;
    }

    .gift_title {
        margin-top: 1px;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 8px;
    }

    .gift_text {
        width: 327px;
        font-size: 16px;
        line-height: 140%;
    }

    .initiation {
        background-image: url(/images/formations_responsive/3rdbkpt_formations_bkgd_initiationpro.png);
    }

    .initiation_wrapper {
        align-items: center;
        width: 327px;
    }

    .fleur_initiation {
        display: none;
    }

    .initiation_title {
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
    }

    .initiation_texte {
        width: 100%;
        font-size: 16px;
        line-height: 140%;
        margin-left: 24px;
        margin-right: 24px;
    }

    .formation {
        font-size: 16px;
        line-height: 140%;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
    }
    
    .details {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 48px;
    }

    .conclusion {
        font-size: 16px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 681px) and (max-width:960px) {
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .ellipse {
        display: none;
    }

    .ellipse_mobile {
        display: block;
        width: 260px;
        height: 260px;
        margin-top: 99px;
        margin-left: -350px;
    }

    .top_titre {
        display: flex;
        flex-direction: column;
        width: 275px;
        margin-top: 147px;
        text-align: center;
    }
    
    h2 {
        font-size: 32px;
        line-height: 120%;
        font-weight: 600;
        font-family: 'Josefin sans', sans-serif;
        margin-left: 60px;
        width: 275px;
    }

    .fleur {
        width: 45px;
        height: 108px;
        right: 60px;
        top: 135px;
    }

    .sous-titre {
        margin-top: 24px;
        text-align: left;
        width: 520px;
    }

    h5 {
        font-size: 18px;
        line-height: 130%;
        font-family: 'Josefin sans', sans-serif;
        font-weight: 600;
    }

    .texte_formations {
        width: 520px;
        margin-top: -24px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 16px;
        line-height: 140%;
        font-weight: normal;
        margin-bottom: 48px;
        font-family: 'Karla', sans-serif;
    }

    .menu {
        display: none;
    }

    .menu_mobile {
        display: flex;
        margin-bottom: 48px;
    }

    .image_mobile {
        width: 300px;
        height: 278px;
        margin: 24px;
    }

    .ateliers {
        background-image: url(/images/formations_responsive/2ndbkpt_formations_bkgd_atelier.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .fleur_section {
        display: none;
    }

    .title_section {
        color: #131311;
        font-size: 28px;
        line-height: 120%;
        margin-top: 60px;
        margin-left: auto;
        width: 100%;
    }

    .header_wrapper {
        align-items: center;
        text-align: center;
        width: 263px;
    }

    .text_header {
        width: 520px;
        margin-left: 24px;
        line-height: 140%;
        font-size: 16px;
        margin-bottom: 48px;
    }

    .ateliers_titre {
        font-size: 24px;
        line-height: 120%;
        margin-top: auto;
        margin-bottom: 16px;
    }

    .ateliers_texte {
        font-size: 16px;
        line-height: 140%;
        width: 520px;
        margin-bottom: 40px;
    }

    .ateliers_titre2 {
        font-size: 24px;
        line-height: 120%;
        margin-top: 40px;
        margin-bottom: 16px;
        width: 345px;
    }

    .cadeau {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 680px;
        height: 100px;
    }

    .gift {
        width: 144.35px;
        height: 160.2px;
        margin-top: 32px;
        margin-left: 70px;
    }

    .gift_title {
        margin-top: 50px;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 8px;
    }

    .gift_text {
        width: 327px;
        font-size: 16px;
        line-height: 140%;
    }

    .initiation {
        background-image: url(/images/formations_responsive/2ndbkpt_formations_bkgd_initiationpro.png);
    }

    .initiation_wrapper {
        align-items: center;
        width: 520px;
        padding-top: 48px;
    }

    .fleur_initiation {
        display: none;
    }

    .initiation_title {
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
    }

    .initiation_texte {
        width: 100%;
        font-size: 16px;
        line-height: 140%;
        margin-left: 24px;
        margin-right: 24px;
    }

    .formation {
        font-size: 16px;
        line-height: 140%;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
    }
    
    .details {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 48px;
    }

    .conclusion {
        font-size: 16px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 961px) and (max-width:1331px) {
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 80px;
        width: 80px;
    }

    nav {
        height: 99px;
    }

    .ellipse {
        display: none;
    }

    .ellipse_mobile {
        display: block;
        width: 260px;
        height: 260px;
        margin-top: 99px;
        margin-left: -650px;
    }

    .top_titre {
        display: flex;
        flex-direction: column;
        width: 275px;
        margin-top: 147px;
        text-align: center;
    }
    
    h2 {
        font-size: 40px;
        line-height: 120%;
        font-weight: 600;
        font-family: 'Josefin sans', sans-serif;
        margin-left: -60px;
        width: 810px;
    }

    .fleur {
        width: 72px;
        height: 176px;
        right: 68px;
        top: 135px;
    }

    .sous-titre {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        margin-left: 90px;
        width: 520px;
    }

    h5 {
        font-size: 24px;
        line-height: 130%;
        font-family: 'Josefin sans', sans-serif;
        font-weight: 600;
    }

    .texte_formations {
        width: 600px;
        margin-top: -48px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 20px;
        line-height: 140%;
        font-weight: normal;
        margin-bottom: 60px;
        font-family: 'Karla', sans-serif;
    }

    .menu {
        display: none;
    }

    .menu_mobile {
        display: flex;
        margin-bottom: 80px;
    }

    .image_mobile {
        width: 300px;
        height: 278px;
        margin: 80px;
    }

    .ateliers {
        background-image: url(/images/formations_responsive/1stbkpt_formations_bkgd_atelier.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .fleur_section {
        display: block;
        position: absolute;
        width: 66px;
        height: 160px;
        left: 82px;
        margin-right: 74px;
        margin-left: 40px;
    }

    .title_section {
        color: #131311;
        font-size: 36px;
        line-height: 120%;
        margin-top: 60px;
        width: 650px;
        margin-bottom: 32px;
    }

    .header_wrapper {
        align-items: center;
        text-align: center;
        width: 263px;
    }

    .text_header {
        width: 560px;
        margin-left: 24px;
        line-height: 140%;
        font-size: 20px;
        margin-bottom: 48px;
        margin-top: 0;
    }

    .ateliers_titre {
        font-size: 32px;
        line-height: 120%;
        margin-top: auto;
        margin-bottom: 16px;
    }

    .ateliers_texte {
        font-size: 18px;
        line-height: 140%;
        width: 600px;
        margin-bottom: 60px;
    }

    .ateliers_titre2 {
        font-size: 32px;
        line-height: 120%;
        margin-top: 60px;
        margin-bottom: 24px;
        width: 460px;
    }

    .cadeau {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 960px;
    }

    .gift {
        width: 144.35px;
        height: 160.2px;
        margin-top: 100px;
        margin-left: 70px;
    }

    .gift_title {
        margin-top: 93px;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 16px;
    }

    .gift_text {
        width: 480px;
        font-size: 20px;
        line-height: 140%;
    }

    .initiation {
        background-image: url(/images/formations_responsive/1stbkpt_formations_bkgd_initiationpro.png);
    }

    .initiation_wrapper {
        align-items: center;
        width: 600px;
        padding-top: 80px;
    }

    .fleur_initiation {
        display: block;
        width: 66px;
        height: 160px;
    }

    .initiation_title {
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
    }

    .initiation_texte {
        width: 100%;
        font-size: 20px;
        line-height: 140%;
        margin-left: 24px;
        margin-right: 24px;
    }

    .formation {
        font-size: 20px;
        line-height: 140%;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        width: 660px;
    }
    
    .details {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 48px;
    }

    .conclusion {
        font-size: 20px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        margin-bottom: 60px;
    }
}