/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.hamburger {
    display: none;
}

a {
    color: #131311;
}

.formations {
    width: 100%;
    position: relative;
}

.inner_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ellipse {
    /* width: 800px; */
    height: 800px;
    position: absolute;
    left: 0;
    top: -150px;
}

.top_titre {
    display: flex;
    flex-direction: column;
    width: 810px;
    margin-top: 268px;
    position: relative;
}

h2 {
    font-size: 56px;
    line-height: 120%;
    font-weight: 600;
    font-family: 'Josefin sans', sans-serif;
}

.fleur {
    position: absolute;
    width: 116px;
    height: 280px;
    right: 350px;
    top: 228px;
}

.sous-titre {
    margin-top: 32px;
    text-align: center;
}

h5 {
    font-size: 32px;
    line-height: 130%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 500;
}

.texte_formations {
    width: 816px;
    height: 482px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 24px;
    line-height: 140%;
    font-weight: normal;
    margin-bottom: 120px;
    font-family: 'Karla', sans-serif;
}

.programmes {
    display: flex;
    justify-content: center;
}

.lien_image {
    width: 526px;
    height: 479px;
    margin-top: 80px;
    margin-bottom: 120px;
}

.lien_image1 {
    margin-right: 80px;
}

.menu {
    display: flex;
    justify-content: center;
}

.ateliers {
    background-image: url(/images/formations/formations_bkgd_atelier.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fleur_section {
    width: 100px;
    height: 240px;
    margin-top: 80px;
}

.title_section {
    color: #131311;
    font-size: 48px;
    line-height: 120%;
    font-family: "Josefin sans", sans-serif;
    font-weight: 600;
    margin-top: 120px;
    margin-left: 88px;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
}

.text_header {
    width: 820px;
    margin-left: 68px;
    line-height: 140%;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    color: #131311;
    text-align: left;
    margin-top: 24px;
}

.ateliers_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ateliers_titre {
    font-size: 40px;
    line-height: 120%;
    color: #A89505;
    font-family: "Josefin sans", sans-serif;
    margin-top: 104px;
    font-weight: 600;
    margin-bottom: 24px;
}

.ateliers_texte {
    color: #131311;
    text-align: left;
    font-size: 20px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    width: 800px;
    margin-bottom: 104px;
}

.ateliers_titre2 {
    font-size: 40px;
    line-height: 120%;
    color: #A89505;
    font-family: "Josefin sans", sans-serif;
    margin-top: 104px;
    font-weight: 600;
    margin-bottom: 24px;
    width: 600px;
}

.conclusion {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #131311;
    line-height: 140%;
    text-align: center;
    margin-bottom: 120px;
}

.gift {
    width: 234.19px;
    height: 260.16px;
    margin-top: 82px;
    margin-right: 31.77px;
}

.cadeau {
    display: flex;
    justify-content: center;
    margin-bottom: 121.68px;
}

.gift_text {
    display: flex;
    flex-direction: column;
}

.gift_title {
    margin-top: 121px;
    color: #131311;
    font-size: 40px;
    line-height: 120%;
    font-family: "Josefin sans", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.gift_text {
    width: 800px;
    color: #131311;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    line-height: 140%;
}

.initiation {
    background-image: url(/images/formations/formations_bkgd_initiationpro.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initiation_wrapper {
    padding-top: 120px;
    width: 800px;
}

.initiation_title {
    color: #131311;
    font-family: "Josefin sans", sans-serif;
    font-size: 48px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
}