/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
    cursor: url(/images/pointer-chouette.png), pointer;
}

.hamburger {
    display: none;
}

section {
    margin-top: 200px;
    margin-left: 50px;
    margin-bottom: 100px;
}

@media screen and (min-width:300px) and (max-width:1331px) {

    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }
}