/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.hamburger {
    display: none;
}

.background {
    background-image: url(/images/background_menu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: 'josefin Sans', sans-serif;
    font-weight:600;
    font-size: 56px;
    line-height: 120%;
    color: #131311;
}

.header_wrapper{
    display: block;
    width: 100%;
    text-align: center;
}

.title {
    padding-top: 219px;
    margin-bottom: 120px;
}


.fleur {
    position: absolute;
    right: 0;
    top: 98px;
}

.display_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.menu {
    margin: auto;
    margin-bottom: 120px;
    width:1190px;
    height:1683px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.photo {
    width: 100%;
}

.logos_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.logos {
    width: 80px;
    margin-right: 56px;
}


@media screen and (min-width:300px) and (max-width:680px) {

    .background {
        background-image: url(/images/background_menu_mobile.png);
        background-size: contain;
        margin-top: 32px;
    }

    .title_text {
        font-size: 32px;
        line-height: 120%;
        margin-top: 131px;
    }

    .title{
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 48px;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .fleur {
        width: 117px;
        height: 180px;
        top: 50px;
    }

    .menu_mobile {
        width: 250px;
        margin-bottom: 32px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
        width: 250px;
    }

    .logos {
        width: 48px;
        height: 48px;
        margin-right: 32px;
    }

    .logos_wrapper {
        margin-right: 43px;
        margin-left: 43px;
    }


    /*Affichage plein écran au clic sur les photos */
    
    .view_image_body {
        position: fixed;
        background-color: black;
        width: 100%;
        height: 100%;
        top: 0;
        left:0;
        opacity: 0.8;
    }

    .view_image {
        height: 100%;
        width: 100%;
        top: 0;
        left:0;
        position: fixed;
        cursor: zoom-out;
    }

    .view_image_img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 95%;
        max-width: 95%;
        cursor: zoom-out;
    }
}

@media screen and (min-width: 681px) and (max-width:960px) {

    .logo {
        width: 75px;
        height: 75px;
        margin-top: 12px;
        left:12px;
    }

    #logo {
        width: 100%;
    }
    
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav {
        height: 99px;
    }

    .background {
        background-image: url(/images/background_menu_680.png);
        background-size: cover;
        margin-top: 32px;
    }

    .fleur {
        width: 150px;
        height: 180px;
        top: 50px;
    }

    .title_text {
        font-size: 32px;
        line-height: 120%;
        margin-top: 131px;
    }

    .title{
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 48px;
    }

    .menu_mobile {
        width: 480px;
        height: 700px;
        margin-bottom: 32px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        width: 480px;
    }

    /*Affichage plein écran au clic sur les photos */
    
    .view_image_body {
        position: fixed;
        background-color: black;
        width: 100%;
        height: 100%;
        top: 0;
        left:0;
        opacity: 0.8;
    }

    .view_image {
        height: 100%;
        width: 100%;
        top: 60px;
        left:0;
        position: fixed;
        cursor: zoom-out;
    }

    .view_image_img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 95%;
        max-width: 95%;
        cursor: zoom-out;
    }
}

@media screen and (min-width: 961px) and (max-width:1331px) {

    .logo {
        width: 80px;
        height: 80px;
        margin-top: 12px;
        left:12px;
    }

    #logo {
        width: 100%;
    }
    
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav {
        height: 128px;
    }

    .background {
        background-image: url(/images/menu_background_960.png);
        background-size: cover;
        margin-top: 190px;
    }

    .fleur {
        height: 260px;
        top: 50px;
        right: -20px;
    }

    .title {
        padding-top: 0;
        margin-bottom: 80px;
    }

    .title_text {
        font-size: 40px;
        line-height: 120%;
    }

    .menu_mobile {
        width: 700px;
        height: 1000px;
        margin-bottom: 80px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 910px;
        width: 700px;
        margin-bottom: 180px;
    }

    .photo {
        display: none;
    }

    .photo2 {
        width: 100%;
        height: 160px;
    }
}
