#menu-button{
    background: #c8c7c1;
    width: 48px;
    border-radius: 5px;
    position: fixed;
    cursor: pointer;
    transition: all linear .3s;
    padding: 4px;
    z-index: 100;
    top: 23px;
    right: 12px;
}

#menu-button.active{
    background: #fff;
    padding-top: 0;
}

#line-1,#line-2,#line-3{
    width: 32px;
    background: #fff;
    height: 6px;
    margin: 7px auto;
    border-radius: 2px;
    transition: all linear .3s;
}

#line-1.active{
    -webkit-transform: translate(0px,12px) rotate(50deg);
    transform: translate(0px,12px) rotate(50deg);
    background: #131311;
}

#line-2.active{
    opacity: 0;
}

#line-3.active{
    -webkit-transform: translate(0px, -14px) rotate(-50deg);
    transform: translate(0px, -14px) rotate(-50deg);
    background: #131311;
}

#menu{
    background: #fff;
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 100%;
    display: none;
    position: fixed;
    top: 0;
    border-radius: 5px;
    z-index: 99;
}

.nav_wrapper{
    margin-top: 96px;
    margin-left: 111px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#menu ul li {
    list-style: none;
    text-align: end;
    margin-bottom: 40px;
    color:#131311;
}

.links_mobile {
    text-decoration: none;
}

#menu ul li:active {
    color:#A89505;
}

ul {
    padding: 0;
}

.mobile_icones {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.mobile_fbicon {
    margin-left: 32px;
}

.special {
    display: inline-block;
}

.menu_item2 {
    border: solid 2px #131311;
    padding: 16px;
    border-radius: 10px;
}

.menu_item2:active {
    border: solid 2px #A89505;
}

.logo_lili {
    margin-left: 12px;
    margin-top: 36px;
    width: 75px;
}

.mobile_menu_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
}