/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.hamburger {
    display: none;
}

/*Section Top page*/

h2 {
    font-family: 'josefin Sans', sans-serif;
    font-weight:600;
    font-size: 56px;
    line-height: 120%;
    color: #131311;
}

h4 {
    font-family: 'josefin Sans', sans-serif;
    font-weight:600;
    font-size: 40px;
    line-height: 120%;
    color: #131311;
}

.topPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 310px;
    margin-top: 150px;
}

.fleur {
    z-index: -2;
}

.pageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.ellipse_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.ellipse {
    z-index: -2;
}

/*Section restauration et vaisselle */

.mobile_right_part_1 {
    display: none;
}

.restauration, .vaisselle {
    height: 732px;
    background-color: #EBF3E7;
    display: flex;
    justify-content: center;
}

.left_part_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_part_vaisselle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texte_wrapper_1 {
    width: 584px;
    height: 372px;
    margin-right: 54px;
}

.texte_wrapper_vaisselle {
    width: 584px;
    height: 175px;
}

.texte_1 {
    font-family: 'Karla', sans-serif;
    line-height: 140%;
    font-size: 24px;
}

.title_wrapper_1 {
    margin-bottom: 16px;
}

.right_part_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Section traiteur et boutique */

.mobile_right_part_2 {
    display: none;
}

.traiteur, .boutique {
    height: 732px;
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
}

.left_part_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texte_wrapper_2 {
    width: 584px;
    height: 372px;
    margin-left: 68px;
}

.texte_2 {
    font-family: 'Karla', sans-serif;
    line-height: 140%;
    font-size: 24px;
}

.title_wrapper_2 {
    margin-bottom: 16px;
    margin-left: 68px;
}

.right_part_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo_before_footer {
    width: 100%;
    height: auto;
}

@media screen and (min-width:300px) and (max-width:680px) {

    /*navbar, logo et section top page*/
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .topPage {
        width: 100%;
        height: 134px;
        margin-top: 99px;
    }

    .fleur {
        position: relative;
    }

    .fleur_image {
        width: 140px;
        height: 290px;
        position: absolute;
        left: -45px;
        top: -50px;
    }

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .ellipse_wrapper {
        position: relative;
    }

    .ellipse {
        width: 200px;
        height: 200px;
        position: absolute;
        right: -130px;
    }

    /*Sections restauration, traiteur, vaisselle et boutique*/

    .restauration {
        flex-direction: column;
        width: 100%;
        height: 681px;
        padding-top: 60px;
        justify-content: center;
    }

    .traiteur {
        display: block;
        height: 740px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .vaisselle {
        display: block;
        height: 475px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }

    .boutique {
        display: block;
        height: 715px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
        margin-bottom: 0;
    }

    .right_part_1, .right_part_2 {
        display: none;
    }

    .mobile_right_part_1, .mobile_right_part_2 {
        display: block;
    }

    .title_1, .title_2, .title_3, .title_4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }

    .title_wrapper_1, .title_wrapper_2 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .picture_wrapper_1, .picture_wrapper_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .picture_1, .picture_2, .picture_3, .picture_4 {
        width: 312px;
        height: 200px;
    }

    .texte_wrapper_1, .texte_wrapper_2, .texte_wrapper_3 {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .texte_1, .texte_2 {
        width: 327px;
        font-size: 16px;
        line-height: 140%;
        text-align: left;   
    }
}


@media screen and (min-width: 681px) and (max-width:960px) {

    /*navbar, logo et section top page*/
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .topPage {
        width: 100%;
        height: 134px;
        margin-top: 99px;
    }

    .fleur {
        position: relative;
    }

    .fleur_image {
        width: 140px;
        height: 290px;
        position: absolute;
        left: -45px;
        top: -50px;
    }

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .ellipse_wrapper {
        position: relative;
    }

    .ellipse {
        width: 200px;
        height: 200px;
        position: absolute;
        right: -130px;
    }

    /*Sections restauration, traiteur, vaisselle et boutique*/

    .restauration {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 681px;
        padding-top: 60px;
        justify-content: center;
    }
    
    .traiteur {
        display: block;
        height: 740px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    
    .vaisselle {
        display: block;
        height: 475px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }
    
    .boutique {
        display: block;
        height: 715px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }

    .right_part_1, .right_part_2 {
        display: none;
    }

    .mobile_right_part_1, .mobile_right_part_2 {
        display: block;
    }

    .title_1, .title_2, .title_3, .title_4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }

    .title_wrapper_1, .title_wrapper_2 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .picture_wrapper_1, .picture_wrapper_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .picture_1, .picture_2, .picture_3, .picture_4 {
        width: 312px;
        height: 200px;
    }

    .texte_wrapper_1, .texte_wrapper_2, .texte_wrapper_3 {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .texte_1, .texte_2 {
        width: 520px;
        font-size: 16px;
        line-height: 140%;
        text-align: left;   
    }
}