/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
    cursor: url(/images/pointer-chouette.png), pointer;
}

.hamburger {
    display: none;
}

/*Section Top page*/

h2 {
    font-family: 'josefin Sans', sans-serif;
    font-weight:600;
    font-size: 56px;
    line-height: 120%;
    color: #131311;
}

h4 {
    font-family: 'josefin Sans', sans-serif;
    font-weight:600;
    font-size: 40px;
    line-height: 120%;
    color: #131311;
}

.topPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 310px;
    margin-top: 150px;
}

.fleur {
    z-index: -2;
}

.fleur_image {
    height: 600px;
}

.fleur_image_mobile {
    display: none;
}

.pageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.ellipse_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.ellipse {
    z-index: -2;
    width: 600px;
    margin-right: -230px;
}

.ellipse_mobile {
    display: none;
}

/*Section restauration et vaisselle */

.mobile_right_part_1 {
    display: none;
}

.calleats {
    width: 150px;
    height: 40px;
}

.restauration, .vaisselle {
    height: 732px;
    background-color: #EBF3E7;
    display: flex;
    justify-content: center;
}

.left_part_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_part_vaisselle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texte_wrapper_1 {
    width: 584px;
    height: 372px;
    margin-right: 54px;
}

.texte_wrapper_vaisselle {
    width: 584px;
    height: 175px;
}

.texte_1 {
    font-family: 'Karla', sans-serif;
    line-height: 140%;
    font-size: 24px;
}

.title_wrapper_1 {
    margin-bottom: 16px;
}

.right_part_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Section traiteur et boutique */

.mobile_right_part_2 {
    display: none;
}

.traiteur, .boutique {
    height: 901px;
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
}

.left_part_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 120px;
}

.texte_wrapper_2 {
    width: 584px;
    height: 372px;
    margin-left: 68px;
}

.texte_2 {
    font-family: 'Karla', sans-serif;
    line-height: 140%;
    font-size: 24px;
}

.title_wrapper_2 {
    margin-bottom: 16px;
    margin-left: 68px;
}

.right_part_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo_before_footer4 {
    width: 100%;
    height: auto;
}

.photo_before_footer, .photo_before_footer2, .photo_before_footer3 {
    display: none;
}

@media screen and (min-width:300px) and (max-width:680px) {

    /*navbar, logo et section top page*/
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .topPage {
        width: 100%;
        height: 134px;
        margin-top: 99px;
    }

    .fleur {
        position: relative;
    }

    .fleur_image {
        height: 200px;
        position: absolute;
        left: -55px;
        top: 0;
    }

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .ellipse_wrapper {
        position: relative;
    }

    .ellipse {
        display: none;
    }

    .ellipse_mobile {
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        right: -130px;
        z-index: -2;
    }

    /*Sections restauration, traiteur, vaisselle et boutique*/

    .restauration {
        flex-direction: column;
        width: 100%;
        height: 681px;
        padding-top: 60px;
        justify-content: center;
    }

    .calleats {
        width: 100px;
        height: 25px;
        margin-top: 10px;
    }

    .traiteur {
        display: block;
        height: 740px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        margin-bottom: 60px;
    }

    .vaisselle {
        display: block;
        height: 520px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }

    .boutique {
        display: block;
        height: 815px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
        margin-bottom: 0;
    }

    .right_part_1, .right_part_2 {
        display: none;
    }

    .mobile_right_part_1, .mobile_right_part_2 {
        display: block;
        margin-right: 22px;
        margin-left: 22px;
    }

    .title_1, .title_2, .title_3, .title_4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }

    .title_wrapper_1, .title_wrapper_2 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .picture_wrapper_1, .picture_wrapper_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .picture_1, .picture_2, .picture_3, .picture_4 {
        width: 312px;
        height: 200px;
    }

    .texte_wrapper_1, .texte_wrapper_2, .texte_wrapper_3 {
        margin-top: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .texte_1, .texte_2 {
        width: 327px;
        font-size: 16px;
        line-height: 140%;
        text-align: left;   
    }

    .photo_before_footer, .photo_before_footer2, .photo_before_footer4 {
        display: none;
    }

    .photo_before_footer3 {
        display: block;
        width: 100%;
        height: 160px;
    }
}


@media screen and (min-width: 681px) and (max-width:960px) {

    /*navbar, logo et section top page*/
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .topPage {
        width: 100%;
        height: 134px;
        margin-top: 99px;
    }

    .fleur {
        position: relative;
    }

    .fleur_image {
        display: none;
    }

    .fleur_image_mobile {
        display: block;
        width: 140px;
        height: 290px;
        position: absolute;
        top: -65px;
    }

    .title {
        font-size: 32px;
        line-height: 120%;
    }

    .ellipse_wrapper {
        position: relative;
    }

    .ellipse {
        width: 200px;
        height: 200px;
        position: absolute;
        right: -130px;
    }

    /*Sections restauration, traiteur, vaisselle et boutique*/

    .restauration {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 681px;
        padding-top: 60px;
        padding-bottom: 60px;
        justify-content: center;
    }

    .calleats {
        width: 100px;
        height: 25px;
    }
    
    .traiteur {
        display: block;
        height: 740px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
        padding-top: 60px;
        height: auto;
    }
    
    .vaisselle {
        display: block;
        height: 475px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }
    
    .boutique {
        display: block;
        height: 715px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }

    .left_part_2 {
        padding-bottom: 0;
    }

    .right_part_1, .right_part_2 {
        display: none;
    }

    .mobile_right_part_1, .mobile_right_part_2 {
        display: block;
    }

    .title_1, .title_2, .title_3, .title_4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }

    .title_wrapper_1, .title_wrapper_2 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .picture_wrapper_1, .picture_wrapper_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .picture_1, .picture_2, .picture_3, .picture_4 {
        width: 312px;
        height: 200px;
    }

    .texte_wrapper_1, .texte_wrapper_2, .texte_wrapper_3 {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 16px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .texte_1, .texte_2 {
        width: 520px;
        font-size: 16px;
        line-height: 140%;
        text-align: left;   
    }

    .photo_before_footer3, .photo_before_footer2, .photo_before_footer4 {
        display: none;
    }

    .photo_before_footer {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 961px) and (max-width:1331px) {

    /*navbar, logo et section top page*/
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 80px;
        width: 80px;
    }

    nav {
        height: 128px;
    }

    .topPage {
        width: 100%;
        height: 150px;
        margin-top: 128px;
    }

    .fleur {
        position: relative;
    }

    .fleur_image {
        height: 300px;
        position: absolute;
        top: 30px;
        left: 50px;
    }

    .title {
        font-size: 40px;
        line-height: 120%;
    }

    .ellipse_wrapper {
        position: relative;
    }

    .ellipse {
        width: 360px;
        height: 360px;
        position: absolute;
        right: -130px;
    }

    .pageTitle {
        height: 208px;
    }


    /*Sections restauration, traiteur, vaisselle et boutique*/

    .restauration {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 825px;
        margin-top: 60px;
        padding-top: 120px;
        padding-bottom: 60px;
        justify-content: center;
    }

    .calleats {
        width: 100px;
        height: 25px;
    }
    
    .traiteur {
        display: block;
        height: 936px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    
    .vaisselle {
        display: block;
        height: 670px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        margin-top: 60px;
        width: 100%;
    }
    
    .boutique {
        display: block;
        height: 940px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }

    .right_part_1, .right_part_2 {
        display: none;
    }

    .mobile_right_part_1, .mobile_right_part_2 {
        display: block;
    }

    .title_1, .title_2, .title_3, .title_4 {
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }

    .title_wrapper_1, .title_wrapper_2 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .picture_wrapper_1, .picture_wrapper_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .picture_1, .picture_2, .picture_3, .picture_4 {
        width: 480px;
        height: 308px;
    }

    .texte_wrapper_1, .texte_wrapper_2, .texte_wrapper_3 {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        padding-bottom: 60px;
    }

    .texte_1, .texte_2 {
        width: 584px;
        font-size: 20px;
        line-height: 140%;
        text-align: left; 
    }

    .photo_before_footer, .photo_before_footer3, .photo_before_footer4 {
        display: none;
    }

    .photo_before_footer2 {
        display: block;
        width: 100%;
        height: auto;
    }
}