/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.hamburger {
    display: none;
}

a {
    color: #131311;
}

/* Section projets */

.projets {
    width: 100%;
    position: relative;
}

.inner_wrapper {
    display: flex;
    flex-direction: row;
}

.fleur {
    position: absolute;
    width: 116px;
    height: 280px;
    top: -40px;
    left: -202px;
    margin-right: 80px;
}

.fleur_titre {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.top_titre {
    display: flex;
    flex-direction: column;
    width: 643px;
    margin-top: 268px;
    position: relative;
}

h2 {
    font-size: 56px;
    line-height: 120%;
    font-weight: 600;
    font-family: 'Josefin sans', sans-serif;
}

.sous-titre {
    margin-top: 32px;
}

h5 {
    font-size: 32px;
    line-height: 130%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 500;
}

.ellipse1 {
    width: 800px;
    height: 800px;
    position: absolute;
    right: -470px;
}

.texte_projets {
    width: 816px;
    height: 482px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 24px;
    line-height: 140%;
    font-weight: normal;
    margin-bottom: 120px;
    font-family: 'Karla', sans-serif;
}

.ellipse2 {
    position: absolute;
    z-index: -2;
    top: 850px;
}

/*Projet Tchin */

.tchin {
    background-color: #EBF3E7;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_wrapper {
    width: 600px;
}

.tchin_title {
    color: #5f9249;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_tchin {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.tchin_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-left: 36px;
}

.right {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Section oser */

.oser {
    background-color: #FFFFE3;
    width: 100%;
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title_wrapper2 {
    width: 600px;
}

.oser_title {
    color: #A89505;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.left2 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte_oser {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.oser_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-right: 36px;
}

/*Section tiger */

.tiger {
    background-color: #EBF3E7;
    width: 100%;
}

.tiger_title {
    color: #5F9249;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_tiger {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.tiger_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-left: 36px;
    margin-top: 120px;
}

/*Section jardins */

.jardins {
    background-color: #FFFFE3;
    width: 100%;
}

.jardins_title {
    color: #A89505;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_jardins {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.jardins_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-right: 36px;
    margin-top: 120px;
}

/*Section alimentaire */

.alimentaire {
    background-color: #EBF3E7;
    width: 100%;
}

.alimentaire_title {
    color: #5F9249;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_alimentaire {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.alimentaire_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-left: 36px;
    margin-top: 120px;
}