/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.hamburger {
    display: none;
}

a {
    color: #131311;
}

.tchin_2, .tchin_3, .oser_2, .oser_3, .tiger_2, .tiger_3, .jardins_2, .jardins_3, .alimentaire_2, .alimentaire_3 {
    display: none;
}

/* Section projets */

.projets {
    width: 100%;
    position: relative;
}

.inner_wrapper {
    display: flex;
    flex-direction: row;
}

.fleur {
    position: absolute;
    width: 116px;
    height: 280px;
    top: -40px;
    left: -202px;
    margin-right: 80px;
}

.fleur_titre {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.top_titre {
    display: flex;
    flex-direction: column;
    width: 643px;
    margin-top: 268px;
    position: relative;
    align-items: center;
}

h2 {
    font-size: 56px;
    line-height: 120%;
    font-weight: 600;
    font-family: 'Josefin sans', sans-serif;
    text-align: center;
}

.sous-titre {
    margin-top: 32px;
}

h5 {
    font-size: 32px;
    line-height: 130%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 500;
}

.ellipse1 {
    width: 800px;
    height: 800px;
    position: absolute;
    right: -450px;
    top: -100px;
}

.texte_projets {
    width: 816px;
    height: 482px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 24px;
    line-height: 140%;
    font-weight: normal;
    margin-bottom: 120px;
    font-family: 'Karla', sans-serif;
}

.ellipse2 {
    position: absolute;
    z-index: -2;
    top: 950px;
    left: -50px;
}

/*Projet Tchin */

.tchin {
    background-color: #EBF3E7;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_wrapper {
    width: 600px;
}

.tchin_title {
    color: #5f9249;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_tchin {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.tchin_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-left: 36px;
}

.right {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 120px;
}

/* Section oser */

.oser {
    background-color: #FFFFE3;
    width: 100%;
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title_wrapper2 {
    width: 600px;
}

.oser_title {
    color: #A89505;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.left2 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte_oser {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.oser_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-right: 36px;
}

/*Section tiger */

.tiger {
    background-color: #EBF3E7;
    width: 100%;
}

.tiger_title {
    color: #5F9249;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_tiger {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.tiger_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-left: 36px;
    margin-top: 120px;
}

/*Section jardins */

.jardins {
    background-color: #FFFFE3;
    width: 100%;
}

.jardins_title {
    color: #A89505;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_jardins {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.jardins_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-right: 36px;
    margin-top: 120px;
}

/*Section alimentaire */

.alimentaire {
    background-color: #EBF3E7;
    width: 100%;
}

.alimentaire_title {
    color: #5F9249;
    padding-top: 120px;
    font-size: 40px;
    line-height: 120%;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
}

.texte_alimentaire {
    color: #131311;
    width: 600px;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 120px;
    margin-top: 34px;
}

.alimentaire_1 {
    width: 540px;
    height: 810px;
    margin-bottom: 34px;
    margin-left: 36px;
    margin-top: 120px;
}

@media screen and (min-width:300px) and (max-width:680px) {

    /*navbar, logo et section top page*/
    .projets {
        width: 100%;
        position: relative;
    }

    .hamburger {
    display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    /*Top page*/

    .ellipse1 {
        width: 260px;
        height: 260px;
        position: absolute;
        right: -150px;
    }

    h2 {
        font-size: 32px;
        line-height: 120%;
        font-weight: 600;
        font-family: 'Josefin sans', sans-serif;
        width: 210px;
        /* margin-left: 83px; */
    }

    .fleur {
        position: absolute;
        width: 50.45px;
        height: 120px;
        top: -40px;
        left: 0;
        margin-right: 16.55px;
    }

    .top_titre {
        display: flex;
        flex-direction: column;
        margin-top: 148px;
        position: relative;
        text-align: center;
        align-content: center;
        width: 100%;
    }

    .sous-titre {
        margin-top: 24px;
        width: 327px;
    }
    
    h5 {
        font-size: 18px;
        line-height: 130%;
        font-family: 'Josefin sans', sans-serif;
        font-weight: 500;
        margin: auto;
    }

    .ellipse2 {
        display: none;
    }

    .projets {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .texte_projets {
        margin-top: 24px;
        font-size: 16px;
        line-height: 140%;
        width: 327px;
        padding-bottom: 60px;
    }

    /*Projet Tchin */


    .title_wrapper {
        width: 297px;
    }

    .wrapper {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .tchin_title {
        padding-top: 36px;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
    }

    .tchin_1 {
        display: none;
    }

    .tchin_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .texte_tchin {
        font-size: 16px;
        line-height: 140%;
        width: 327px;
        margin-top: 0;
        margin-left: 24px;
        margin-right: 24px;
        padding-bottom: 48px;
    }

    /*Projet Osez croquer le paysage*/
    
    .wrapper2 {
        flex-direction: column;
    }

    .left2 {
        display: none;
    }

    .oser_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .oser_title {
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        padding-top: 0;
    }

    .title_wrapper2 {
        width: 347px;
        padding-top: 0;
    }

    .texte_oser {
        width: 327px;
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 48px;
        margin-top: 0;
    }

    /*Projet Tiger Milk*/

    .tiger_title {
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        padding-top: 48px;
    }

    .texte_tiger {
        font-size: 16px;
        line-height: 140%;
        width: 327px;
        padding-bottom: 48px;
        margin-top: 0;
    }

    .right {
        display: none;
    }

    .tiger_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    /*Projet jardins urbains*/

    .jardins_1 {
        display: none;
    }

    .jardins_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .title_wrapper2 {
        padding-top: 48px;
        width: 347px;
    }

    .jardins_title {
        font-size: 24px;
        line-height: 120%;
        padding-top: 0;
        text-align: center;
    }

    .texte_jardins {
        width: 327px;
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 48px;
        margin-top: 0;
    }

    /*Projet alimentaire*/

    .alimentaire_title {
        padding-top: 48px;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
    }

    .right {
        display: none;
    }

    .texte_alimentaire {
        font-size: 16px;
        line-height: 140%;
        width: 327px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width:681px) and (max-width:960px) {

    /*navbar, logo et section top page*/
    .projets {
        width: 100%;
        position: relative;
    }

    .hamburger {
    display: block;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    nav {
        height: 99px;
    }

    .ellipse1 {
        width: 260px;
        height: 260px;
        position: absolute;
        right: -150px;
    }

    .ellipse2 {
        display: none;
    }

    h2 {
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        width: 210px;
    }

    .top_titre {
        display: flex;
        flex-direction: column;
        margin-top: 148px;
        position: relative;
        text-align: center;
        align-content: center;
        width: 100%;
    }

    .fleur {
        position: absolute;
        width: 50.45px;
        height: 120px;
        top: 0;
        left: -46px;
        margin-right: 16.55px;
    }

    h5 {
        font-size: 18px;
        line-height: 130%;
        font-family: 'Josefin sans', sans-serif;
        font-weight: 500;
        margin: auto;
    }

    .sous-titre {
        margin-top: 24px;
        width: 520px;
    }

    .texte_projets {
        margin-top: 24px;
        font-size: 16px;
        line-height: 140%;
        width: 520px;
        padding-bottom: 48px;
        margin-bottom: 0;
        height: auto;
    }

    /*Projet Tchin */


    .title_wrapper {
        width: 297px;
    }

    .wrapper {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .tchin_title {
        padding-top: 36px;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
    }

    .tchin_1 {
        display: none;
    }

    .tchin_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 36px;
    }

    .texte_tchin {
        font-size: 16px;
        line-height: 140%;
        width: 520px;
        margin-left: 24px;
        margin-right: 24px;
        padding-bottom: 60px;
        margin-top: 0;
    }

    /*Projet Osez croquer le paysage*/
    
    .wrapper2 {
        flex-direction: column;
    }

    .left2 {
        display: none;
    }

    .oser_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .oser_title {
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        padding-top: 60px;
        width: 347px;
    }

    .title_wrapper2 {
        width: 347px;
        padding-top: 0;
    }

    .texte_oser {
        width: 520px;
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 60px;
        margin-top: 0;
    }

    /*Projet Tiger Milk*/

    .tiger_title {
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        padding-top: 60px;
    }

    .texte_tiger {
        font-size: 16px;
        line-height: 140%;
        width: 520px;
        padding-bottom: 60px;
        margin-top: 0;
    }

    .right {
        display: none;
    }

    .tiger_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    /*Projet jardins urbains*/

    .left2 {
        display: none;
    }

    .jardins_2 {
        display: block;
        width: 320px;
        height: 200px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .title_wrapper2 {
        padding-top: 0;
    }

    .jardins_title {
        font-size: 24px;
        line-height: 120%;
        padding-top: 60px;
        text-align: center;
        
    }

    .texte_jardins {
        width: 520px;
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 60px;
        margin-top: 0;
    }

    /*Projet alimentaire*/

    .alimentaire_title {
        padding-top: 60px;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        width: 340px;
    }

    .right {
        display: none;
    }

    .texte_alimentaire {
        font-size: 16px;
        line-height: 140%;
        width: 520px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 961px) and (max-width:1331px) {

    /*navbar, logo et section top page*/
    .projets {
        width: 100%;
        position: relative;
    }

    .hamburger {
    display: block;
    }

    .navbar {
        display: none;
    }

    .logo_lili {
        height: 80px;
        width: 80px;
    }

    nav {
        height: 128px;
    }

    .ellipse1 {
        width: 360px;
        height: 360px;
        position: absolute;
        right: -150px;
    }

    .ellipse2 {
        display: block;
        width: 360px;
        height: 360px;
        left: -120px;
        top: 750px;
    }

    h2 {
        font-size: 40px;
        line-height: 120%;
    }

    .top_titre {
        display: flex;
        flex-direction: column;
        margin-top: 177px;
        position: relative;
        text-align: center;
        align-content: center;
        width: 100%;
    }

    .fleur {
        position: absolute;
        width: 74px;
        height: 176px;
        top: 0;
        left: -46px;
        margin-left: -40px;
    }

    h5 {
        font-size: 24px;
        line-height: 130%;
        font-family: 'Josefin sans', sans-serif;
        font-weight: 500;
        margin: auto;
        color: #131311;
    }

    .sous-titre {
        margin-top: 24px;
        width: 480px;
    }

    .texte_projets {
        margin-top: 40px;
        font-size: 20px;
        line-height: 140%;
        width: 600px;
        padding-bottom: 80px;
        margin-bottom: 0;
        height: auto;
    }

    /*Projet Tchin */


    .title_wrapper {
        width: 620px;
    }

    .wrapper {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .tchin_title {
        padding-top: 80px;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
    }

    .tchin_1 {
        display: none;
    }

    .tchin_3 {
        display: block;
        width: 435px;
        height: 652px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .texte_tchin {
        font-size: 20px;
        line-height: 140%;
        width: 600px;
        margin-left: 180px;
        margin-right: 180px;
        padding-bottom: 80px;
        margin-top: 0;
    }

    /*Projet Osez croquer le paysage*/
    
    .wrapper2 {
        flex-direction: column;
    }

    .left2 {
        display: none;
    }

    .oser_3 {
        display: block;
        width: 435px;
        height: 652px;
        margin-top: 32px;
        margin-bottom: 80px;
    }

    .oser_title {
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        padding-top: 80px;
    }

    .title_wrapper2 {
        width: 600px;
        padding-top: 0;
    }

    .texte_oser {
        width: 600px;
        font-size: 20px;
        line-height: 140%;
        padding-bottom: 80px;
        margin-top: 0;
    }

    /*Projet Tiger Milk*/

    .tiger_title {
        font-size: 32px;
        line-height: 120%;
        padding-top: 80px;
        text-align: center;
        width: 600px;
    }

    .texte_tiger {
        font-size: 20px;
        line-height: 140%;
        width: 600px;
        padding-bottom: 80px;
        margin-top: 0;
    }

    .right {
        display: none;
    }

    .tiger_3 {
        display: block;
        width: 435px;
        height: 652px;
        margin-top: 32px;
        margin-bottom: 40px;
    }

    /*Projet jardins urbains*/

    .left2 {
        display: none;
    }

    .jardins_3 {
        display: block;
        width: 435px;
        height: 652px;
        margin-top: 32px;
        margin-bottom: 40px;
    }

    .jardins_title {
        font-size: 32px;
        line-height: 120%;
        padding-top: 80px;
        text-align: center;
        width: 600px;
    }

    .texte_jardins {
        width: 600px;
        font-size: 20px;
        line-height: 140%;
        padding-bottom: 80px;
        margin-top: 0;
    }

    /*Projet alimentaire*/

    .alimentaire_title {
        padding-top: 80px;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
    }

    .right {
        display: none;
    }

    .texte_alimentaire {
        font-size: 20px;
        line-height: 140%;
        width: 600px;
        padding-bottom: 80px;
    }
}