/*règles générales*/
body, html {
    margin: 0;
    padding: 0;
}

/*header*/

.hero {
    width:100vw;
    height:auto;
}

.headerpic {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%; 
}

/*barre de navigation*/
nav {
    width:100%;
    display: flex;
    position: absolute;
    top: 24px;
}

ul {
    display: flex;
    position: absolute;
    right: 32px;
    top: 61px;

}

.logo {
    position: absolute;
    left: 32px;
    top: 24px;
}

li,a {
    text-decoration: none;
    list-style: none;
    align-self:center;
    padding-left: 32px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.instaicon {
    padding-left: 28px;
    height: 24px;
    margin-top: 5px;
}

.fbicon {
    margin-left: 24px;
    height: 24px;
    margin-top: 5px;

}