/*règles générales*/
body, html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
}


/*header*/

.hero {
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-inner {
    width: 866px;
}

@font-face {
    font-family: 'Verona serial';
    src: url('/font/verona_serial-regular.otf');
}

h1{
    font-family: 'Verona serial';
    font-size: 92px;
    color: white;
    letter-spacing: 5%;
    line-height: 100%;
    filter: drop-shadow(0 10px 40px rgba(0, 0, 0, 0.25));
}

.background {
    background-image: url(/images/photoheader.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*barre de navigation*/
nav {
    width:100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 24px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar {
    position: relative;
}

.logo {
    position: relative;
    left: 32px;
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}

.links {
    padding-left: 32px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 100%
}

.instaicon {
    padding-left: 32px;
    height: 24px;
}

.fbicon {
    margin-left: 24px;
    height: 24px;
    margin-right: 32px;
}

/*section concept*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.concept {
    margin-top: 120px;
    width: 890px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    margin-bottom: 36px;
    font-family: 'josefin Sans', sans-serif;
    font-weight:600;
    font-size: 56px;
    line-height: 120%;
    color: #131311;
}

.conceptwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.concepttext {
    margin-right: 36px;
    color:#2e2e29;
}

p {
    font-family: 'Karla', sans-serif;
    line-height: 140%;
    font-size: 20px;
    font-weight: normal;
    width:684px;
    margin-bottom: 0;
}

h4 {
    font-family: 'josefin Sans', sans-serif;
    color: #131311;
    line-height: 120%;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.quotationwrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
}

.innerwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bowlpic {
    margin-right: 92px;
    width: 288px;
    height: 288px;
}

.quotationmarksandtext {
    width: 770px;
    height:202px;
}

.quoteandtext {
    display: flex;
    flex-direction: row;
}

.quotemark1 {
    width: 31px;
    height: 24px;
    margin-right: 12px;
    margin-top: -12px;
}

.quotetext {
    width: 684px;
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 140%;
    color: #2e2e29;
}

.quotemark2 {
    width: 31px;
    height: 24px;
    margin-left: 12px;
}

.quotationmarkright {
    align-self: end;
    margin-bottom: 32px;
}

.quoteauthor {
    text-align: end;
}

/*section engagements*/

.engagement {
    background-color: #ebf3e7;
    width: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.engagementtitre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 40px;
}

h2 {
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 56px;
}

li {
    width: 650px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
}

ul li:before {
    content:"\2022";
    margin-right: 16px;
    color: #5f9249;
    height: 12px;
    width: 12px;
    font-size: 40px;
    margin-top: -12px;
}

.texteli {
    color: #131311;
    font-family: 'Karla',sans-serif;
    font-size: 24px;
    line-height: 140%;
}

/*section frise*/

.marque [data-text] {
    white-space: nowrap;
    display: inline-block;
    min-width: 100%;
    height: 103px;
    background-color: #5f9249;
    padding-top: 35px;
}

.marque [data-text]:before,
.marque [data-text]:after {
    content: attr(data-text) "\00A0";
    display: inline-block;
    min-width: 50%;
}

.marque [data-text]:before {
    animation: marque-defil 25s infinite linear;
}

@keyframes marque-defil {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -25%;
    }
}

.mots-clés {
    color: #fefbe1;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    line-height: 110%;
    letter-spacing:1px;
}

/*Section équipe*/

.carrousel {
    margin-bottom: 120px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.equipe {
    margin-top: 120px;
    margin-bottom: 80px;
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-text-title-pic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 0;
    margin-right: 0;
    width: 100%;
}

.profile-pic {
    margin-right: 60px;
    margin-left: 60px;
    height: 600px;
    width: 600px;
}

.profile-title {
    font-family: 'josefin Sans', sans-serif;
    font-weight: 600;
    line-height: 130%;
    font-size: 32px;
    color: #A89505;
    margin-bottom: 8px;
}

.text-title {
    margin-right: 136px;
    margin-left: 68px;
    width: auto;
} 

.button {
    margin-bottom: 120px;
    margin-top: 27px;
    display: flex;
    justify-content: center;
}

.previous {
    margin-right: 36px;
}

/*Section FOOTER newsletter */

.footer {
    width: 100%;
    height: 304px;
    background-color: #fefbe1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inscription {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.newsletter {
    width: 710px;
    margin-right: 104px;
}

.titre {
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 140%;
    margin-top: 68px;
    margin-bottom: 16px;
    text-align:center;
}

.texte {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    line-height: 140%;
}

label {
    font-family: 'karla', sans-serif;
    font-size: 20px;
}

input {
    width: 378px;
    height: 60px;
    border-radius: 10px;
    border: gray solid 4px;
}

button {
    width: 378px;
    height: 60px;
    border-radius: 10px;
    background-color: #c8c8c1;
    color: #131311;
    font-family: 'karla',sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    margin-top: 32px;
}

hr {
    margin: 0;
}

/* section FOOTER deuxième partie */

footer {
    background-color: #fefbe1;
    width: 100%;
    padding-top: 120px;
}

.logo-contact-photo {
    display: flex;
    justify-content: center;
}

.logo-footer {
    width: 100px;
    height: 100px;
}

.logolili {
    display: flex;
    justify-content: center;
    width: 365px;
}

.contact {
    font-family: 'karla',sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 140px;
}

address {
    display: flex;
    flex-direction: column;
}

.insta {
    margin-right: 32px;
}

.wrapper-horaires {
    width: 365px;
    height: 56px;
    margin-top: 48px;
}

.horaires {
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-size: 20px;
    color:#131311;
}

.partagez-wrapper {
    margin-top: 88px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.googleicon {
    margin: 0 48px 0 48px;
}

.partagez {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
}

.mentions {
    margin-top: 120px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}

.heart {
    color: #5f9249;
}